--- 

title: prod-crmlink-common 

language_tabs: 
   - shell 

toc_footers: 
   - <a href='#'>Sign Up for a Developer Key</a> 
   - <a href='https://github.com/lavkumarv'>Documentation Powered by lav</a> 

search: true 

--- 

# Introduction 

# CRMLink Common API
## Purpose
CRMLink Common API contains common functionality that will be required in multiple workflows.
 

**Version:** 2020-02-10T20:41:51Z 

# Authentication 

|apiKey|*API Key*|
|---|---| 

## ***GET*** 

# Get languages for a specific Dreamscape title
**Summary:** Get languages for a specific Dreamscape title

**Description:** # Get list of languages for a specific Dreamscape title
## Parameter Reference
Name | Type | Format | default | minimum | maximum | pattern
---- | ---- | ------ | ------- | ------- | ------- | -------
titleid | `string` | `string` |  |  |  |


### HTTP Request 
`***GET*** /languages/{titleid}` 

**Parameters**

| Name | Located in | Description | Required | Type |
| ---- | ---------- | ----------- | -------- | ---- |
| titleid | path | identifier for a Dreamscape title | Yes | string (string) |

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | 200 response |
| 400 | 400 response |
| 401 | 401 response |
| 404 | 404 response |
| 500 | 500 response |

## ***GET*** 

# Get site locations
**Summary:** Get site locations

**Description:** # Get all configured Dreamscape locations


### HTTP Request 
`***GET*** /sites` 

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | 200 response |
| 401 | 401 response |
| 404 | 404 response |
| 500 | 500 response |

## ***GET*** 

# Get titles
**Summary:** Get titles

**Description:** # Get list of all available Dreamscape titles


### HTTP Request 
`***GET*** /titles` 

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | 200 response |
| 401 | 401 response |
| 404 | 404 response |
| 500 | 500 response |

<!-- Converted with the swagger-to-slate https://github.com/lavkumarv/swagger-to-slate -->
