---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - python

toc_footers:
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

search: true

code_clipboard: true
---

# Introduction

Welcome to the Dreamscape Immersive API!

This API documentation will provide explanations for our various endpoints with examples for the requests and responses you can excpect to see.

# Authentication

> Sample Request:

```shell
curl --location --request GET 'https://api.hq.dev.techscapevr.com/common/sites' --header 'x-api-key: <Your API Key>'
```

```python
import requests

url = 'https://api.hq.dev.techscapevr.com/common/sites'
headers = {'x-api-key': '<Your API Key>'}

r = requests.get(url, headers=headers)
print(r.json())
```


Dreamscape uses API keys for authentication.
Do not share your API key publicaly, this includes places like GitHub and in your own code.

To make use of your API key include it as a header in your http request

`x-api-keys: <Your API key>`

To obtain a valid public API key for testing, please contact 
**tclifton@dreamscapevr.com**

# Errors

## HTTP Codes

Dreamscape makes use of standard HTTP codes to show the status of a request.
All responses will have an accompanying code that indicates success or failure.

Error reponses will also have a `message` that describes the reason for the failure.

> Sample Error Message:

```json
{
    "message" : "Missing Authentication Token"
}
```

| Code | Description |
| ---- | ----------- |
| 200 - OK | Everything is working as intended |
| 400 - Bad Request | The request could not be completed |
| 401 - Unauthorized | Your API key doesn't have permission to perform the request |
| 403 - Forbidden | Missing API key |
| 404 - Not Found | Request does not exist |
| 500 - Internal Server Error | Server side error, an error on our side |


# CRMLink Common API
## Purpose

CRMLink Common API contains common functionality that will be required in multiple workflows.
Information on Dreamscape retail sites, titles, etc can be accessed through this endpoint.
 
## Languages

This endpoint has information on the languages that are availible for a specific Dreamscape title.
Use [title identifiers] (#titles) to search for titles.

### Request Information

> Sample Request:

```shell
curl --location --request GET 'https://api.hq.dev.techscapevr.com/common/languages/alienzoo01' --header 'x-api-key: <public-api-key>'
```

```python
import requests

url = 'https://api.hq.dev.techscapevr.com/common/languages/alienzoo01'
headers = {'x-api-key': '{API Key}'}

r = requests.get(url, headers=headers)
print(r.json())
```

|Category|Value|
|---------|-------|
|Http request| `GET`|
|URL|api.techscapevr.com/common/languages/{titleID}|

### Request Parameters

> Sample Response:

```json
[
    {
        "language_code": "en",
        "language_name": "English",
        "written": true,
        "audio": true,
        "native_name": null
    },
    {
        ...
    },
    {
        ...
    }
]
```

|Parameter| Type| Description| Required|
|------------|-----|------------|---------|
|titleID|`string`|Identifier for a Dreamscape title (e.g., `alienzoo01`)|`true`|

### Response Schema
|Field|Type|Description|
|-----|----|-----------|
|language_code| `string`| Two-letter ISO 639-1 code for the language|
|language_name| `string`| Full name of the language|
|written| `boolean`|
|audio| `boolean`|
|native_name| `string`|

## Sites
Information on Dreamscape retail locations are available through this endpoint.

### Request Information

> Sample Request:

```shell
curl --location --request GET 'https://api.hq.dev.techscapevr.com/common/sites' --header 'x-api-key: <public-api-key>'
```

```python
import requests

url = 'https://api.hq.dev.techscapevr.com/common/sites'
headers = {'x-api-key': '{API Key}'}

r = requests.get(url, headers=headers)
print(r.json())
```

|Category|Value|
|---------|-------|
|Http request| `GET`|
|URL|api.techscapevr.com/common/sites|

### Request Parameters
There are no parameters for this request.

### Response Schema

> Sample Response:

```json
[
    {
        "site_id": "US000001",
        "site_name": "Westfield Century City Mall",
        "site_shortname": "hq-dev-Westfield",
        "site_legalname": "Westfield Century City",
        "owner": "Dreamscape",
        "operator": "Dreamscape",
        "national_code": null,
        "street_address": "10250 Santa Monica Blvd",
        "city": "Los Angeles",
        "state": "CA",
        "postal_code": "90067",
        "country_code": "us",
        "tz": "America/Los_Angeles",
        "pod_count": 3,
        "ticketing_partner_id": "xola",
        "dma_code": null,
        "active_date": "2018-10-20T08:00:00+00:00",
        "tlc": "WCC",
        "status_code": 1100,
        "status_description": "active"
    },
    {
        ...
    },
    {
        ...
    }
]
```

|Field|Type|Description|
|-----|------------|------|
|site_id|`string`|Identifier for site|
|site_name|`string`|Full Name of site|
|site_shortname|`string`|Shorthand name of site|
|site_legalname|`string`|Legal name of site|
|owner|`string`|Owner of site|
|operator|`string`|Operator of site|
|national_code|`string`|
|street_address|`string`|Street Address of site|
|city|`string`|City where the site is located|
|state|`string`|State where the site is located|
|postal_code|`string`|Postal code of the site|
|country_code|`string`|Shorthand for country where the site is located|
|tz|`string`|
|pod_count|`int`|Number of pods at the site|
|ticketing_partner_id|`string`|Partner used for ticketing at the site|
|dma_code|`string`|
|active_date|`string`|The date that the site opened|
|tlc|`string`|
|status_code|`string`|Identifier for the status of the site|
|status_description|`string`|Description of the status of the site|


## Titles

> Sample Request:

```shell
curl --location --request GET 'https://api.hq.dev.techscapevr.com/common/titles' --header 'x-api-key: <public-api-key>'
```

```python
import requests

url = 'https://api.hq.dev.techscapevr.com/common/titles'
headers = {'x-api-key': '{API Key}'}

r = requests.get(url, headers=headers)
print(r.json())
```

Information on Dreamscape titles are accessible through this enpoint.
`licensed_sites` also contains specific information for sites showing a title (e.g., ticket price).

### Request Information
|Category    |Value|
|------------|-----|
|Http request|`GET`|
|URL|api.techscapevr.com/common/titles|

### Request Parameters

> Sample Response

```json
[
    {
        "title_id": "alienzoo01",
        "shortname": "Alien Zoo",
        "synopsis": "Alien Zoo Synopsis...",
        "genre": null,
        "rating": "E",
        "content_partner_id": "amblin",
        "duration_sec": null,
        "max_player_count": 6,
        "release_date": "2018-02-06",
        "game_engine": "unity",
        "eidr_id": null,
        "isan_id": null,
        "min_player_count": 1,
        "tlc": "AZO",
        "status_code": 1100,
        "closed_caption_enabled": true,
        "licensed_sites": [
            {
                "site_id": "US000001",
                "ticketing_partner_title_id": "alienzoo01",
                "ticketing_active_time": "2019-04-11T07:00:00+00:00",
                "ticketing_end_date": null,
                "active_date": "2019-04-15",
                "sunset_date": null,
                "end_date": null,
                "gearup_duration_sec": 2400,
                "pod_duration_sec": 1200,
                "base_price": 23.5,
                "currency": "USD",
                "min_age": 10,
                "min_age_waiver": 13,
                "license_status_code": 1100,
                "site_status_code": 1100
            },
            {
                ...
            },
        ]
    },
    {
        ...
    },
    {
        ...
    }
]
```

There are no parameters for this request.

### Response Schema

|Field| Type | Description |
|-----|------|-------------|
|title_id|`string`|The unique identifier for the title|
|shortname|`string`|Shorthand name for the title|
|synopsis|`string`|Summary of the title|
|genre|`string`|Genre identifiers for the title|
|rating|`string`|ESRB rating for the title|
|content_partner_id|`string`|
|duration_sec|`int`|Total duration|
|max_player_count|`int`|The maximum number of players supported|
|release_date|`string`|Date when the title was released|
|game_engine|`string`|The game engine used to create the title|
|eidr_id|`string`|
|isan_id|`string`|
|min_player_count|`int`|The minimum number of players needed for the title|
|tlc|`string`|
|status_code|`int`|Status identifier|
|closed_caption_enabled|`boolean`|Whether the title has closed captioning|
|licensed_sites|`object`| Sites where the title is showing |
|site_id|`string`|Identifier for site. See [Sites] (#sites)|
|ticketing_partner_title_id|`string`|Identifier for the title as refrenced by ticketing partner| 
|ticketing_active_time|`string`|Total time title has been available|
|ticketing_end_date|`string`|Date when title will no longer be available|
|active_date|`string`|Date when title became available|
|sunset_date|`string`|
|end_date|`string`|Date when title became unavailable|
|gearup_duration_sec|`number`|The time in seconds it takes to fully gear a player|
|pod_duration_sec|`number`|The time in seconds the pod will be used for the title|
|base_price|`int`|The base price of one ticket for the title|
|currency|`string`|Currency identifer for base_price|
|min_age|`int`|Minimum age required|
|min_age_waiver|`int`|Minimum age required with a signed waiver|
|license_status_code|`int`|Identifier for the status of the license for the title for the site|
|site_status_code|`int`|Identifier for the status of the site|