---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - python

toc_footers:
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

search: true

code_clipboard: true

includes:
    - common
---

# Introduction

Welcome to the Dreamscape Immersive API!

This API documentation will provide explanations for our various endpoints with examples for the requests and responses you can excpect to see.

# Authentication

> Sample Request:

```shell
curl --location --request GET 'https://api.hq.dev.techscapevr.com/common/sites' --header 'x-api-key: <Your API Key>'
```

```python
import requests

url = 'https://api.hq.dev.techscapevr.com/common/sites'
headers = {'x-api-key': '<Your API Key>'}

r = requests.get(url, headers=headers)
print(r.json())
```


Dreamscape uses API keys for authentication.
Do not share your API key publicaly, this includes places like GitHub and in your own code.

To make use of your API key include it as a header in your http request

`x-api-keys: <Your API key>`

To obtain a valid public API key for testing, please contact 
**tclifton@dreamscapevr.com**

# Errors

## HTTP Codes

Dreamscape makes use of standard HTTP codes to show the status of a request.
All responses will have an accompanying code that indicates success or failure.

Error reponses will also have a `message` that describes the reason for the failure.

> Sample Error Message:

```json
{
    "message" : "Missing Authentication Token"
}
```

| Code | Description |
| ---- | ----------- |
| 200 - OK | Everything is working as intended |
| 400 - Bad Request | The request could not be completed |
| 401 - Unauthorized | Your API key doesn't have permission to perform the request |
| 403 - Forbidden | Missing API key |
| 404 - Not Found | Request does not exist |
| 500 - Internal Server Error | Server side error, an error on our side |


